# 1. 메시지 큐
kafka-python-ng

# 2. LLM (Gemini)
google-genai

# 3. 벡터 DB
pinecone>=3.0.0

# 4. 데이터 수집
requests
beautifulsoup4
selenium
webdriver-manager
lxml

# 5. 데이터 처리
pandas
numpy<2.0.0
yfinance

# 6. DB 연결 (MySQL)
# mysql-connector-python 대신 호환성 좋은 pymysql 사용
SQLAlchemy
pymysql

# 7. 유틸리티
python-dotenv
tqdm

